{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<h1>마이페이지</h1>
<p>{{ user.username }}</p>
<p>{{ user.email }}</p>
<p>{{ user.nickname }}</p>
{% if user.profile_img %}
<img src='{{ user.profile_img.url }}' style='width:50%;'>
{% endif %}
{% if user.introduce %}
<p>{{ user.introduce }}</p>
{% endif %}
<button class='btn btn-primary' onclick="location.href='{% url 'index' %}'">메인페이지</button>
<button class='btn btn-primary' onclick="location.href='{% url 'post_list' %}'">글보러가기</button>
<button class='btn btn-primary' onclick="location.href='{% url 'logout' %}'">로그아웃</button>

