{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block head %}
<style>
    .django-ckeditor-widget{
        width: 100%;
    }
</style>
{% endblock head %}

{% block content %}
    <div class='container'>
        <div class='row mt-3 mb-3'>
            <h2 class="heading text-primary mb-3">글 쓰기</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {% bootstrap_form form %}
                <label for="id_tags">추가할 태그: </label>
                <input type="text" name="tags_str" placeholder="콤마로 구분해주세요.">
                <hr>
                <button type="submit" class='btn btn-primary'>완료</button>
                <button type='button' onclick="window.location=document.referrer;" class="btn btn-secondary">취소</button>
            </form>
        </div>
    </div> 
    <script>
        CKEDITOR.on( 'dialogDefinition', function( ev ){
            var dialogName = ev.data.name;
            var dialog = ev.data.definition.dialog;
            var dialogDefinition = ev.data.definition;
            if ( dialogName == 'image' ){
                dialog.on('show', function (obj) {
                    this.selectPage('Upload'); // 바로 업로드탭으로 가도록
                });
                dialogDefinition.removeContents( 'Link' ); // 링크 탭 제거
                dialogDefinition.removeContents( 'advanced' ); // 상세정보 탭 제거
                
                var infoTab = dialogDefinition.getContents( 'info' );
                infoTab.remove( 'txtAlt'); // 대체 문자열 제거
            }
        });
    </script>
{% endblock content %}