{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobby Space</title>
    {% block head %}
    {% endblock head %}
</head>
<body>
    
    {% block title %}
    {% endblock title %}
    
    <!-- Message 띄우기 -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Success:">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
            <div>
                {{ message }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <!-- Navigation Bar -->
    <strong>nav bar </strong>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'post_list' %}">Blog</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'mypage' %}">MyPage</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock content %}
</body>
</html>
